body {
  font-family: Tahoma, Arial, sans-serif;
}

.navbar {
  background: linear-gradient(to left, #0d6efd, #198754);
}

.hero {
  background: linear-gradient(to left, #198754, #0d6efd);
  color: white;
  padding: 90px 20px;
}

.section-title {
  color: #198754;
  font-weight: bold;
}

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: #25d366;
  color: white;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  z-index: 999;
}
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

body {
  position: relative;
  min-height: 100vh;
}

/* خلفية الشعار */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300px;

  opacity: 0.08; /* درجة البهتان */
  z-index: -1;
}

